-r requirements.txt

-e .

# testing
pytest
pytest-cov
pytest-pylint

# linting
pylint
pylint-pytest
pylint-actions

# code coverage
codecov

# docs
sphinx
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-rtd-theme

# deployment
twine

# security
bandit
safety

# formatting
black
isort
